﻿
@{
    ViewData["Title"] = "AllCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>All Categories</h2>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">All Categories</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>

                                <th scope="col">#ID</th>
                                <th scope="col">Image</th>
                                <th scope="col">Category Name </th>
                                <th scope="col">Parent Category</th>
                                <th scope="col">Date</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">07809</th>
                                <td><img src="~/admin/assets/images/avatars/noimage.jpg" class="img-responsive" height="50" width="50" /></td>
                                <td>Alpha - Angular 8</td>
                                <td>Chritopher Palmer</td>
                                <td>Dec 15, 2019</td>
                                <td><a href="#"><span class="badge badge-success"><i class="fas fa-edit"></i> Edit</span></a> <a href="#"><span class="badge badge-danger"> <i class="fas fa-times"></i> Delete</span></a></td>
                            </tr>
                            <tr>
                                <th scope="row">07809</th>
                                <td><img src="~/admin/assets/images/avatars/noimage.jpg" class="img-responsive" height="50" width="50" /></td>
                                <td>Alpha - Angular 8</td>
                                <td>Chritopher Palmer</td>
                                <td>Dec 15, 2019</td>
                                <td><a href="#"><span class="badge badge-success"><i class="fas fa-edit"></i> Edit</span></a> <a href="#"><span class="badge badge-danger"> <i class="fas fa-times"></i> Delete</span></a></td>
                            </tr>
                            <tr>
                                <th scope="row">07809</th>
                                <td><img src="~/admin/assets/images/avatars/noimage.jpg" class="img-responsive" height="50" width="50" /></td>
                                <td>Alpha - Angular 8</td>
                                <td>Chritopher Palmer</td>
                                <td>Dec 15, 2019</td>
                                <td><a href="#"><span class="badge badge-success"><i class="fas fa-edit"></i> Edit</span></a> <a href="#"><span class="badge badge-danger"> <i class="fas fa-times"></i> Delete</span></a></td>
                            </tr>
                            <tr>
                                <th scope="row">07809</th>
                                <td><img src="~/admin/assets/images/avatars/noimage.jpg" class="img-responsive" height="50" width="50" /></td>
                                <td>Alpha - Angular 8</td>
                                <td>Chritopher Palmer</td>
                                <td>Dec 15, 2019</td>
                                <td><a href="#"><span class="badge badge-success"><i class="fas fa-edit"></i> Edit</span></a> <a href="#"><span class="badge badge-danger"> <i class="fas fa-times"></i> Delete</span></a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

