﻿
@{
    ViewData["Title"] = "AllProducts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AllProducts</h2>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">All Products</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                
                                <th scope="col">#SKU</th>
                                <th scope="col">Image</th>
                                <th scope="col">Product Name </th>
                                <th scope="col">Category</th>
                                <th scope="col">Price</th>
                                <th scope="col">Date</th>
                                <th scope="col">Stock</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">07809</th>
                                <td><img src="~/admin/assets/images/avatars/noimage.jpg" class="img-responsive" height="50" width="50" /></td>
                                <td>Alpha - Angular 8</td>
                                <td>Chritopher Palmer</td>
                                <td>$450.50</td>
                                <td>Dec 15, 2019</td>
                                <td><span class="badge badge-info">In Stock</span></td>
                                <td><a href="#"><span class="badge badge-success"><i class="fas fa-edit"></i> Edit</span></a> <a href="#"><span class="badge badge-danger"> <i class="fas fa-times"></i> Delete</span></a></td>
                            </tr>
                            <tr>
                                <th scope="row">07809</th>
                                <td><img src="~/admin/assets/images/avatars/noimage.jpg" class="img-responsive" height="50" width="50" /></td>
                                <td>Alpha - Angular 8</td>
                                <td>Chritopher Palmer</td>
                                <td>$450.50</td>
                                <td>Dec 15, 2019</td>
                                <td><span class="badge badge-info">In Stock</span></td>
                                <td><a href="#"><span class="badge badge-success"><i class="fas fa-edit"></i> Edit</span></a> <a href="#"><span class="badge badge-danger"> <i class="fas fa-times"></i> Delete</span></a></td>
                            </tr>
                            <tr>
                                <th scope="row">07809</th>
                                <td><img src="~/admin/assets/images/avatars/noimage.jpg" class="img-responsive" height="50" width="50" /></td>
                                <td>Alpha - Angular 8</td>
                                <td>Chritopher Palmer</td>
                                <td>$450.50</td>
                                <td>Dec 15, 2019</td>
                                <td><span class="badge badge-danger">Out of Stock</span></td>
                                <td><a href="#"><span class="badge badge-success"><i class="fas fa-edit"></i> Edit</span></a> <a href="#"><span class="badge badge-danger"> <i class="fas fa-times"></i> Delete</span></a></td>
                            </tr>
                            <tr>
                                <th scope="row">07809</th>
                                <td><img src="~/admin/assets/images/avatars/noimage.jpg" class="img-responsive" height="50" width="50" /></td>
                                <td>Alpha - Angular 8</td>
                                <td>Chritopher Palmer</td>
                                <td>$450.50</td>
                                <td>Dec 15, 2019</td>
                                <td><span class="badge badge-info">In Stock</span></td>
                                <td><a href="#"><span class="badge badge-success"><i class="fas fa-edit"></i> Edit</span></a> <a href="#"><span class="badge badge-danger"> <i class="fas fa-times"></i> Delete</span></a></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>