﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="main-wrapper">
    <div class="content-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style-1">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
        </nav>
        <h1 class="page-title">Dashboard</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="ds-stat">
                                <span class="ds-stat-name">Earnings</span>
                                <h3 class="ds-stat-number">$67,856<span class="ds-stat-percent"><i class="fas fa-caret-up"></i>23%</span></h3>
                                <div class="progress" style="height: 3px;">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="ds-stat">
                                <span class="ds-stat-name">Visitors</span>
                                <h3 class="ds-stat-number">104,679<span class="ds-stat-percent"><i class="fas fa-caret-down"></i>7%</span></h3>
                                <div class="progress" style="height: 3px;">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 34%" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="ds-stat">
                                <span class="ds-stat-name">Support Questions</span>
                                <h3 class="ds-stat-number">457<span class="ds-stat-percent"><i class="fas fa-caret-up"></i>31%</span></h3>
                                <div class="progress" style="height: 3px;">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="ds-stat">
                                <span class="ds-stat-name">Net Revenue</span>
                                <h3 class="ds-stat-number">$53,980<span class="ds-stat-percent"><i class="fas fa-caret-up"></i>16%</span></h3>
                                <div class="progress" style="height: 3px;">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 57%" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Monthly Earnings</h5>
                    <div id="apex1"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Popular Products</h5>
                    <div class="popular-products">
                        <canvas id="chartjs1">Your browser does not support the canvas element.</canvas>
                        <div class="popular-product-list">
                            <ul class="list-unstyled">
                                <li id="popular-product1">
                                    <span>Alpha - Material Design</span>
                                    <span class="product-color">59%</span>
                                </li>
                                <li id="popular-product2">
                                    <span>Space - Light Theme</span>
                                    <span class="product-color">15%</span>
                                </li>
                                <li id="popular-product3">
                                    <span>Modern - Admin Dashboard</span>
                                    <span class="product-color">26%</span>
                                </li>
                            </ul>
                            <div class="alert alert-info" role="alert">
                                Based on last week's earnings.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-warning alert-dismissible fade show m-b-md" role="alert">
                Activity reports have been updated 2 days ago. <a href="#" class="alert-link">Click here</a> to see the old data.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <div class="info-card">
                        <h4 class="info-title">Sales This Month<span class="info-stats">45.6k</span></h4>
                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <div class="info-card">
                        <h4 class="info-title">Unique Visitors<span class="info-stats">1.2k</span></h4>
                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <div class="info-card">
                        <h4 class="info-title">Memory Usage<span class="info-stats">82.6GB</span></h4>
                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Last Orders</h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Customer</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">07809</th>
                                    <td>Alpha - Angular 8</td>
                                    <td>Chritopher Palmer</td>
                                    <td>Dec 15, 2019</td>
                                    <td><span class="badge badge-info">In Progress</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">07068</th>
                                    <td>Modern - PSD</td>
                                    <td>Stuart Woodley</td>
                                    <td>Nov 29, 2019</td>
                                    <td><span class="badge badge-info">In Progress</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">08392</th>
                                    <td>Mobile App Theme</td>
                                    <td>Murphy Cartwright</td>
                                    <td>Nov 12, 2019</td>
                                    <td><span class="badge badge-success">Finished</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">09415</th>
                                    <td>CRM Application</td>
                                    <td>Gurpreet Holder</td>
                                    <td>Jul 8, 2019</td>
                                    <td><span class="badge badge-danger">Canceled</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">08678</th>
                                    <td>Crypto Exchange</td>
                                    <td>Marshall Wheeler</td>
                                    <td>Feb 17, 2019</td>
                                    <td><span class="badge badge-danger">Canceled</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">08446</th>
                                    <td>Alpha - Bootstrap Version</td>
                                    <td>Nikki Blanchard</td>
                                    <td>Dec 26, 2018</td>
                                    <td><span class="badge badge-success">Finished</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Main Wrapper -->
