﻿
@{
    ViewData["Title"] = "SaveProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb breadcrumb-style-1">
                                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Add New Product</li>
                                </ol>
                            </nav>
                            <h1 class="page-title">Add New Product</h1>
                        </div>
                        <h5 class="page-desc">Lorem Ipsum this is a dummy text.</h5>
                        <div class="divider"></div>
                        <div class="row">
                            <div class="col-xl">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Product</h5>
                                        <p>Lorem ipsum this is a dummy text. 
                                        </p>
                                        <form>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Product Name</label>
                                                <input class="form-control m-t-xs" type="text" placeholder="Product Name">

                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Product SKU</label>
                                                <input class="form-control m-t-xs" type="text" placeholder="Product SKU">

                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlTextarea1">Product Description</label>
                                                <textarea name="editor1" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                <script>

                                                    CKEDITOR.replace('editor1');
                                                    CKEDITOR.config.autoParagraph = false;

                                                </script>
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleFormControlSelect1">Product Category</label>
                                                <select class="form-control custom-select" id="exampleFormControlSelect1">
                                                    
                                                    <option>Category 1</option>
                                                    <option>Category 2</option>
                                                    <option>Category 3</option>
                                                    <option>Category 4</option>
                                                    <option>Category 5</option>

                                                </select>
                                            </div>

                                            <div class="row">
                                                <div class="col-xl">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Product Image</h5>
                                                            <p>The file input is the most gnarly of the bunch and requires additional JavaScript if you’d like to hook them up with functional Choose file… and selected file name text.</p>
                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input form-control" id="customFile">
                                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <button type="submit" class="btn btn-primary">Add Product</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>



