﻿
@{
    ViewData["Title"] = "SaveCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style-1">
            <li class="breadcrumb-item"><a href="#">Category</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add New Category</li>
        </ol>
    </nav>
    <h1 class="page-title">Add New Category</h1>
</div>
<h5 class="page-desc">Lorem Ipsum this is a dummy text.</h5>
<div class="divider"></div>
<div class="row">
    <div class="col-xl">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Category</h5>
                <p>
                    Lorem ipsum this is a dummy text.
                </p>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Category Name</label>
                        <input class="form-control m-t-xs" type="text" placeholder="Category Name">

                    </div>
                  
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Category Description</label>
                        <textarea name="editor2" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        <script>

                                                    CKEDITOR.replace('editor2');
                                                    CKEDITOR.config.autoParagraph = false;

                        </script>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Parent Category</label>
                        <select class="form-control custom-select" id="exampleFormControlSelect2">
                            <option>Parent Category</option>
                            <option>Category 1</option>
                            <option>Category 2</option>
                            <option>Category 3</option>
                            <option>Category 4</option>
                            <option>Category 5</option>

                        </select>
                    </div>

                    <div class="row">
                        <div class="col-xl">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Category Image</h5>
                                    <p>The file input is the most gnarly of the bunch and requires additional JavaScript if you’d like to hook them up with functional Choose file… and selected file name text.</p>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input form-control" id="customFile">
                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Save Category</button>
                </form>

            </div>
        </div>
    </div>
</div>

